---
default_language_version:
  python: python3.9

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: ^.*\.(md|rst)$
      - id: debug-statements
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-merge-conflict

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.14.0
    hooks:
      - id: gitlint

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.25.0
    hooks:
      - id: yamllint

  - repo: https://github.com/PyCQA/pydocstyle
    rev: 5.1.1
    hooks:
      - id: pydocstyle
        files: ^src/.*

  - repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
      - id: black
        exclude: ^docs/.*
        types: [python]
        args: [--safe, --quiet, --line-length, "88"]
        require_serial: true

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.6.4
    hooks:
      - id: isort
        additional_dependencies: [toml]
        exclude: ^docs/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.790
    hooks:
      - id: mypy
        exclude: ^(docs|tests)/.*$
        args: ["--ignore-missing-imports"]

  - repo: https://github.com/pre-commit/mirrors-pylint
    rev: v2.7.4
    hooks:
      - id: pylint
        additional_dependencies: ["isort[pyproject]"]
        exclude: ^(docs/|tests/).*$
        # disabled import-error as may be run out of environment with deps
        args: ["--disable=import-error"]
